In [1]:
import sys
import os
import pandas as pd
from dotenv import load_dotenv
sys.path.append("..")

load_dotenv()

from data_sources import PyBaseball, MLBStatsAPI, Salary

py_baseball = PyBaseball()
mlb_api = MLBStatsAPI()

2025-11-10 12:45:22,133 -    DEBUG - matplotlib(27896) - matplotlib data path: c:\Users\bengu\.virtualenvs\cfeproj-oIABPDjj\lib\site-packages\matplotlib\mpl-data
2025-11-10 12:45:22,158 -    DEBUG - matplotlib(27896) - CONFIGDIR=C:\Users\bengu\.matplotlib
2025-11-10 12:45:22,581 -    DEBUG - matplotlib(27896) - interactive is False
2025-11-10 12:45:22,582 -    DEBUG - matplotlib(27896) - platform is win32
2025-11-10 12:45:22,633 -    DEBUG - matplotlib(27896) - CACHEDIR=C:\Users\bengu\.matplotlib
2025-11-10 12:45:22,653 -    DEBUG - matplotlib.font_manager(27896) - Using fontManager instance from C:\Users\bengu\.matplotlib\fontlist-v390.json

2025-11-10 12:46:26,921 -    DEBUG - urllib3.connectionpool(27896) - http://www.baseball-reference.com:80 "GET /data/war_daily_bat.txt HTTP/1.1" 301 None
2025-11-10 12:46:27,102 -    DEBUG - urllib3.connectionpool(27896) - https://www.baseball-reference.com:443 "GET /data/war_daily_bat.txt HTTP/1.1" 200 None

Index(['name_common', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID', 'stint_ID',
       'lg_ID', 'pitcher', 'G', 'PA', 'salary', 'runs_above_avg',
       'runs_above_avg_off', 'runs_above_avg_def', 'WAR_rep', 'WAA', 'WAR'],
      dtype='object')

In [3]:
payrolls

,Team,Average Age,Total Payroll Allocations,Active 26-Man,Injured,Retained,Buried,Year,Wins,Losses
0,CHW,27.9,"$162,863,836","$85,292,616","$37,717,329","$38,812,106","$1,041,785",2023,61,101
1,CHC,28.5,"$189,409,358","$134,751,105","$12,522,069","$35,403,285","$6,732,899",2023,83,79
2,BOS,28.3,"$180,926,796","$128,063,857","$28,736,341","$22,444,333","$1,682,265",2023,78,84
3,SF,28.1,"$187,398,165","$130,565,831","$39,922,449","$15,271,991","$1,637,894",2023,79,83
4,LAD,30.0,"$240,278,296","$149,705,968","$33,764,202","$34,802,727","$1,290,369",2023,100,62
5,TOR,29.6,"$214,630,885","$194,200,854","$6,851,292","$9,776,101","$3,802,638",2023,89,73
6,HOU,29.6,"$237,107,748","$211,270,410","$16,713,200","$2,830,000","$2,694,138",2023,90,72
7,COL,28.1,"$171,026,607","$75,181,741","$46,742,764","$47,613,189","$1,488,913",2023,59,103
8,PHI,28.4,"$245,419,295","$218,609,553","$12,530,327","$3,345,770","$10,933,645",2023,90,72
9,TEX,29.2,"$251,332,754","$148,828,188","$96,208,979","$4,993,881","$1,301,706",2023,90,72
10,SD,29.2,"$253,450,531","$163,098,555","$71,689,912","$16,420,993","$716,071",2023,82,80
11,LAA,26.8,"$227,884,276","$43,769,159","$147,537,321","$28,243,281","$1,334,515",2023,73,89
12,NYY,28.5,"$278,651,150","$187,316,625","$50,681,231","$35,880,817","$1,452,477",2023,82,80
13,STL,27.8,"$153,793,028","$83,908,832","$48,168,555","$20,560,215","$1,155,426",2023,71,91
14,NYM,28.4,"$341,673,777","$104,157,606","$76,849,257","$158,207,683","$2,459,231",2023,75,87
15,ATL,28.5,"$204,689,131","$158,186,507","$34,160,535","$11,447,888","$894,201",2023,104,58
16,MIN,28.8,"$155,999,708","$77,967,521","$71,263,008","$3,421,766","$3,347,413",2023,87,75
17,OAK,26.1,"$62,243,227","$31,196,397","$7,178,987","$16,193,039","$7,674,804",2023,50,112
18,KC,26.7,"$95,596,347","$54,242,001","$17,014,952","$22,659,571","$1,679,823",2023,56,106
19,BAL,28.0,"$68,706,439","$53,159,734","$3,179,476","$9,861,733","$2,505,496",2023,101,61
20,TB,27.5,"$74,948,362","$50,544,710","$15,788,201","$2,956,334","$1,004,572",2023,99,63
21,PIT,25.6,"$74,670,975","$30,946,061","$22,463,351","$17,801,293","$3,460,270",2023,76,86
22,CLE,26.3,"$88,911,627","$54,881,912","$1,881,400","$30,397,406","$1,158,646",2023,76,86
23,CIN,27.7,"$95,573,417","$43,815,845","$9,699,072","$38,896,450","$3,162,050",2023,82,80
24,MIL,28.9,"$115,413,345","$86,339,557","$11,924,851","$13,590,062","$3,260,808",2023,92,70
25,MIA,28.7,"$105,435,809","$59,782,517","$25,595,861","$10,698,514","$1,158,917",2023,84,78
26,WSH,26.9,"$93,378,663","$49,949,016","$32,648,896","$7,902,056","$2,646,435",2023,71,91
27,ARI,27.6,"$116,777,354","$60,263,998","$11,197,775","$39,202,529","$6,113,052",2023,84,78
28,SEA,27.1,"$124,766,903","$71,896,948","$27,157,168","$24,571,247","$1,141,540",2023,88,74
29,DET,27.5,"$119,344,514","$82,493,535","$20,259,107","$15,005,322","$1,586,550",2023,78,84